<table class="advantage_table">
    <tbody>
        <tr>
            <td class="name">Advantage</td>
            <td class="value">${name}</td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">CP Cost</td>
                            <td class="value">${cp_cost}</td>
                        </tr>
                        <tr>
                            <td class="name">Monetary Cost</td>
                            <td class="value">${monetary_cost}</td>
                        </tr>
                        <tr>
                            <td class="name">Details</td>
                            <td class="value">${details}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="empty" />
                        </tr>

                        <tr>
                            <td class="empty" />
                            <td class="name">${reference.name}</td>
                            <td class="name">${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
