<table class="cluture_familarity_table">
    <tbody>
        <tr>
            <td class="name">Cluture Name</td>
            <td class="value">${name}</td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Native</td>
                            <td class="value">${native}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="empty" />
                        </tr>

                        <tr>
                            <td class="empty" />
                            <td class="name">${reference.name}</td>
                            <td class="name">${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
