<span>${name}</span>

<table class="culture_familarity_table">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Native</td>
                            <td class="value">${native}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="value">${reference.name} pg${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
