<span>Disadvantage: ${name}</span>

<table class="disadvantage_table">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">CP Return</td>
                            <td class="value">${cp_return}</td>
                        </tr>

                        <tr>
                            <td class="name">Details</td>
                            <td class="value">${details}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="value">${reference.name} pg${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
