<table class="language_table">
    <tbody>
        <tr>
            <td class="name">Language</td>
            <td class="value">${name}</td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Fluency</td>
                            <td class="value">${fluency}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Spoken</td>
                            <td class="value">${spoken}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="empty" />

            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Written</td>
                            <td class="value">${written}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
