<span>Language: ${name}</span>

<table class="language_table">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Fluency</td>
                            <td class="value">${fluency}</td>
                        </tr>

                        <tr>
                            <td class="name">Spoken</td>
                            <td class="value">${spoken}</td>
                        </tr>

                        <tr>
                            <td class="name">Written</td>
                            <td class="value">${written}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="value">${reference.name} pg${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
