<table class="movement_table">
    <thead>
        <tr>
            <td colspan="2">Encumbrance</td>
            <td colspan="2">Move</td>
            <td colspan="2">Dodge</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="name">None (BL)</td>
            <td class="value">${encumbrance.none}</td>

            <td class="name">Basic Move * 1.0</td>
            <td class="value">${move.none}</td>

            <td class="name">Dodge</td>
            <td class="value">${dodge.none}</td>
        </tr>

        <tr>
            <td class="name">None (BL * 2)</td>
            <td class="value">${encumbrance.light}</td>

            <td class="name">Basic Move * 0.8</td>
            <td class="value">${move.light}</td>

            <td class="name">Dodge -1</td>
            <td class="value">${dodge.light}</td>
        </tr>

        <tr>
            <td class="name">None (BL * 3)</td>
            <td class="value">${encumbrance.medium}</td>

            <td class="name">Basic Move * 0.6</td>
            <td class="value">${move.medium}</td>

            <td class="name">Dodge -2</td>
            <td class="value">${dodge.medium}</td>
        </tr>

        <tr>
            <td class="name">None (BL * 6)</td>
            <td class="value">${encumbrance.heavy}</td>

            <td class="name">Basic Move * 0.4</td>
            <td class="value">${move.heavy}</td>

            <td class="name">Dodge -3</td>
            <td class="value">${dodge.heavy}</td>
        </tr>

        <tr>
            <td class="name">None (BL * 10)</td>
            <td class="value">${encumbrance.x_heavy}</td>

            <td class="name">Basic Move * 0.2</td>
            <td class="value">${move.x_heavy}</td>

            <td class="name">Dodge -4</td>
            <td class="value">${dodge.x_heavy}</td>
        </tr>
    </tbody>
</table>
