<span>${name}</span>

<table class="reaction_modifier_table">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Level</td>
                            <td class="value">${level}</td>
                        </tr>

                        <tr>
                            <td class="name">CP Cost</td>
                            <td class="value">${cp_cost}</td>
                        </tr>

                        <tr>
                            <td class="name">Details</td>
                            <td class="value">${details}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="value">${reference.name} pg${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
