<span>Skill: ${name}</span>

<table class="skill_table">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">CP Cost</td>
                            <td class="value">${cp_cost}</td>
                        </tr>

                        <tr>
                            <td class="name">Proficiency</td>
                            <td class="value">${proficiency}</td>
                        </tr>

                        <tr>
                            <td class="name">Difficulty</td>
                            <td class="value">${difficulty}</td>
                        </tr>

                        <tr>
                            <td class="name">Controlling Attribute</td>
                            <td class="value">${controlling_attribute}</td>
                        </tr>

                        <tr>
                            <td class="name">Details</td>
                            <td class="value">${details}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="name">Reference</td>
                            <td class="value">${reference.name} pg${reference.page}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
